/* universal selector reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

/* color variables */
:root {
    --dark: rgb(9, 61, 44);
    --light: rgb(176, 236, 199);
}

/* reset default link styling */
.link {
    text-decoration: none;
    color: var(--light);
}

/* reset default link styling */
.link:visited {
    text-decoration: none;
    color: var(--light);
}

/* hover effect */
.link:hover {
    color: white;
}

header {
    padding: 20px;
    background-color: var(--dark);
    display: flex;
}

main {
    width: 70%;
    margin: auto;
    text-align: center;
}

main h1 {
    font-size: 54px;
}

main section {
    margin-top: 70px;
}

#playButton {
    background-color: var(--dark);
    padding: 20px;
    font-size: 36px;
    border-radius: 15px;
}

/* STYLING FOR game.html STARTS HERE */

#choices button {
    background-color: var(--dark);
    color: var(--light);
    padding: 10px;
    margin: 5px;
    width: 100%;
    font-size: 18px;
    border-radius: 5px;
}

#answers li button:hover {
    color: white;
}

#alert {
    font-size: 24px;
    
}

.input {
    text-align: center;
}

